/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.i{
    height: max-content;
    width: max-content;
}
.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 45px;
  width: 45px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  backdrop-filter: blur(9px);
  background: #b3a878;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  text-shadow: 0 0 10px #fff;
}
.chatbot-toggler:hover{
  text-shadow: 0 0 8px #fff;
}
.chatbot-toggler span {
  color: #fff;
  font-size: 20px;
size: 30px;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  box-shadow: 0 0 6px #fff;
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 410px;
  backdrop-filter: blur(8px);
  background: #37373775;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #2d2d2d;
  backdrop-filter: blur(5px);
  background: #222222e7;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
    color:#f4f4f4;
    text-decoration: solid #000;
  font-size: 1.4rem;
}
span#send-btn{
    color: #fff;
}
span#send-btn:hover{
  color: #fff;
  text-shadow: 0 0 8px #fff;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    backdrop-filter: blur(5px);
   
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    backdrop-filter: blur(5px);
    
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #444444;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 0 1 1px #1f1f1f;
  color: #fff;
  font-weight: 380;
    font-size: 16px;
  background: #494949;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #fc2036;
  text-shadow: 2 2 2px red;
  border: 2px solid red;
  backdrop-filter: blur(5px);
  background: #94101b5b;
}
.chatbox .incoming p {
  color: #2f2f2f;
  border: 1px solid #1e1e1ea5;
  backdrop-filter: blur(5px);
  background: #ffffffb2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background: #2d2d2d;
  padding: 3px 20px;
  border-top: 1px solid #6e6e6e;
}
.chat-input textarea {
  backdrop-filter: blur(6px);
  background: #8b8b8b70;
  height: 55px;
  width: 100%;
  color:#fff;
  border-radius: 20px;
  border: 1px solid #92929288;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input textarea::placeholder{
    color:#ffffff86;
}
.chat-input span {
  align-self: flex-end;
  color: #edece9;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    background: #43423b4e;
  backdrop-filter: blur(8px);
    right: 0;
    bottom: 0;
    width:70%;
    height: 70%;
    border-radius: 15px;
  }
  .chatbot .chatbox {
    background: #000000a8;
  backdrop-filter: blur(8px);
    height: 100%;
    padding: 25px 15px 80px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}
.profile{
    background: url("../img/me.jpg");

}
.bi-bi-send{
  color:#fff;
}
  /* Style for the capture button */
  .capture-btnn {
    border:2px #9e956e;
    padding: 4px 5px;
    border-radius: 20px;
    color:#23211c;
    
  
  }
  
  /* Hover effect */
  .capture-btnn:hover {
    background-color: #fff20;
    color: #23211d;
    box-shadow:0 0 10px #fff; 
  }
  .skilltext{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #23211d;
    font-weight: 500;
    font-size: 17px;
  }
  .social .socialItem{
    width: 80px;
    border-radius: 10px;
    background-color: #565656;
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
    transition: all 500ms ease-in-out;
}

.social .socialItemI{
    margin: auto;
    padding: 10px;
    flex-direction: column;
}

.social .socialItem:hover{
    background-color: rgba(93, 93, 93, 0.863);
}